@model AOWebApp.ViewModels.ItemSearchViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4" style="text-align:center;">Shop Items</h1>
<form method="post" asp-controller="Items" asp-action="Index" class="mb-4">
    <div class="input-group">
        <input type="text"
               asp-for="searchText"
               class="form-control me-2"
               name="searchText"
               maxlength="100"
               placeholder="Search items..." />

        <select name="CategoryId" class="form-control me-2" asp-items="Model.CategoryList">

            <option value="">All Categories</option>

        </select>

        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<a asp-action="Create" class="btn btn-outline-primary mt-auto" style="margin-bottom:20px;">Create New</a>


<div class="row">
    @foreach (var item in Model.ItemList)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                @if (!string.IsNullOrEmpty(item.Item.ItemImage))
                {
                    <img src="@item.Item.ItemImage" class="card-img-top" alt="@item.Item.ItemName" style="height:200px; object-fit:contain;" />
                }
            <div class="card-body d-flex flex-column">
                <h5 class="card-title fw-bold">@item.Item,ItemName</h5>
                <p class="mb-1"><strong>Category:</strong> @item.Item.Category.CategoryName</p>
                <p class="card-text">
                    <strong>Description:</strong>
                    @((item.Item.ItemDescription?.Length > 100)
                            ? item.Item.ItemDescription.Substring(0, 100) + "..."
                            : item.Item.ItemDescription)
                </p>

                <p><strong>Cost:</strong> $@item.Item.ItemCost.ToString()</p>
                <p>
                    <strong>Rating:</strong>
                    @if (item.ReviewCount > 0)
                    {
                        @($"{item.AverageRating:F1} stars ({item.ReviewCount} reviews)")
                    }
                    else
                    {
                        @("No customer ratings")
                    }
                </p>

                <a asp-action="Details" asp-route-id="@item.Item.ItemId" class="btn btn-outline-primary mt-auto">
                    View Item Detail
                </a>
            </div>
            </div>
        </div>
    }
</div>
