@model IEnumerable<AOWebApp.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4" style="text-align:center;">Shop Items</h1>
<form method="post" asp-controller="Items" asp-action="Index" class="mb-4">
    <div class="input-group">
        <input type="text"
               name="searchText"
               value="@ViewBag.searchText"
               class="form-control"
               maxlength="100"
               placeholder="Type Here..."
               title="Enter text to search for items" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<a asp-action="Create" class="btn btn-outline-primary mt-auto" style="margin-bottom:20px;">Create New</a>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                @if (!string.IsNullOrEmpty(item.ItemImage))
                {
                    <img src="@item.ItemImage" class="card-img-top" alt="@item.ItemName" style="height:200px; object-fit:contain;" />
                }

                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fw-bold">@item.ItemName</h5>
                    <p class="mb-1"><strong>Category:</strong> @item.Category.CategoryName</p>
                    <p class="card-text">
                        <strong>Description:</strong>
                        @((item.ItemDescription?.Length > 100)
                            ? item.ItemDescription.Substring(0, 100) + "..."
                            : item.ItemDescription)
                    </p>
                    <p><strong>Cost:</strong>$@item.ItemCost.ToString()</p>

                    <a asp-action="Details" asp-route-id="@item.ItemId" class="btn btn-outline-primary mt-auto">
                        View Item Detail
                    </a>
                </div>
            </div>
        </div>
    }
</div>